In [1]:
import pandas as pd

# Load data
df = pd.read_csv('dataset_fitness_2.csv')

# Tampilkan kolom-kolom yang ada
print("Kolom yang tersedia:")
print(df.columns.tolist())

# Tampilkan jumlah baris dan kolom
print(f"\nJumlah baris: {df.shape[0]}")
print(f"Jumlah kolom: {df.shape[1]}")

# Tampilkan jumlah data kosong di setiap kolom
print("\nJumlah data kosong (missing values) per kolom:")
print(df.isnull().sum())

Kolom yang tersedia:
['exercise_id', 'exercise_name', 'exercise_type', 'body_part', 'exercise_image', 'equipment']

Jumlah baris: 602
Jumlah kolom: 6

Jumlah data kosong (missing values) per kolom:
exercise_id       0
exercise_name     0
exercise_type     0
body_part         0
exercise_image    1
equipment         0
dtype: int64

In [2]:
# Sajikan jumlah masing-masing nilai 'exercise_type' dalam tabel
type_counts = df['exercise_type'].value_counts().reset_index()
type_counts.columns = ['exercise_type', 'count']
print("Exercise Type")
display(type_counts)

# Sajikan jumlah masing-masing nilai 'body_part' dalam tabel
body_part_counts = df['body_part'].value_counts().reset_index()
body_part_counts.columns = ['body_part', 'count']
print("Body Part")
display(body_part_counts)

# Sajikan jumlah masing-masing nilai 'equipment' dalam tabel
equipment_counts = df['equipment'].value_counts().reset_index()
equipment_counts.columns = ['equipment', 'count']
print("Equipment")
display(equipment_counts)

Exercise Type

             exercise_type  count
0   bilateral_simultaneous    495
1   unilateral_alternating     49
2           duration_based     32
3  unilateral_simultaneous     17
4          bodyweight_full      6
5      assisted_bodyweight      3

Body Part

           body_part  count
0              chest     62
1             biceps     61
2               back     61
3            triceps     58
4                abs     58
5         quadriceps     54
6           forearms     50
7          shoulders     48
8               hips     38
9             calves     37
10              neck     36
11            cardio     18
12         hamstring     14
13  hips, quadriceps      5
14  biceps, forearms      2

Equipment

           equipment  count
0           dumbbell    157
1           weighted    126
2              cable    110
3            barbell     99
4            unknown     28
5      smith machine     28
6        body weight     22
7   leverage machine     21
8         kettlebell      5
9         ez barbell      2
10          trap bar      2
11      sled machine      2

# Split Data by Equipment

In [3]:
import pandas as pd
import os

# Load data
df = pd.read_csv('dataset_fitness_2.csv')

# Buat folder jika belum ada
output_dir = 'dataset_by_equipment'
os.makedirs(output_dir, exist_ok=True)

# Loop untuk setiap equipment unik
for equipment in df['equipment'].dropna().unique():
    # Filter data
    df_filtered = df[df['equipment'] == equipment]
    
    # Buat nama file, ganti spasi dengan underscore
    filename = f"{output_dir}/dataset_{equipment.replace(' ', '_')}.csv"
    
    # Simpan ke CSV
    df_filtered.to_csv(filename, index=False)

print(f"Selesai: {len(df['equipment'].unique())} file disimpan di folder '{output_dir}'")

Selesai: 12 file disimpan di folder 'dataset_by_equipment'

In [4]:
import pandas as pd
import os

# Load data
df = pd.read_csv('dataset_fitness_2.csv')

# Buat folder output jika belum ada
output_dir = 'dataset_by_bodypart_split'
os.makedirs(output_dir, exist_ok=True)

# Loop setiap baris, lalu simpan ke masing-masing body part
bodypart_dfs = {}

for _, row in df.iterrows():
    # Split jika ada koma, bersihkan spasi
    parts = [part.strip().lower() for part in row['body_part'].split(',')]
    
    for part in parts:
        if part not in bodypart_dfs:
            bodypart_dfs[part] = []
        bodypart_dfs[part].append(row)

# Simpan tiap body part ke file masing-masing
for part, rows in bodypart_dfs.items():
    part_df = pd.DataFrame(rows)
    filename = f"{output_dir}/dataset_{part.replace(' ', '_')}.csv"
    part_df.to_csv(filename, index=False)

print(f"Selesai: {len(bodypart_dfs)} file disimpan di folder '{output_dir}'")

Selesai: 13 file disimpan di folder 'dataset_by_bodypart_split'